<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="DbProvider" value="Microsoft.Data.SqlClient"/>
	</appSettings>

	<connectionStrings>
		<add name="DatabaseConnection"
			 connectionString="Data Source=LINK\SQLEXPRESS;Initial Catalog=StudentGradesDB;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>

</configuration>